
.table {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
    background: white;
	border-radius: 6px;
	box-shadow: 6px 6px 12px 1px rgba(0, 0, 0, .2);
}
.table thead {
    flex: 0 0 auto;
    width: 100%;
    border-bottom: 1px solid;
}
.table tbody {
    flex: 1 1 auto;
    display: block;
    overflow-y: scroll;
}
.table tbody tr {
    width: 100%;
}

.table thead,
.table tbody tr {
    display: table;
    table-layout: fixed;
}

/* table {
    border: 1px solid lightgrey;
} */
.table td, table th {
    padding: 0;
}
.table tbody tr td:last-child,
.table th:last-child {
    width: 50%;
}

.table th {
    text-align: left;
    padding: 10px;
}

.height-450{
    height: 450px;
    /* min-height: 250px; */
}

.table td {
	vertical-align: top;
}

.table tbody {
    /* display: block; */
    /* width: 200px; */
}
